@import url("../../App.css");
.teacher {
  background: var(--primary-lite);
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teacher:hover {
  background: var(--primary);
}
.teacher:hover span {
  color: white !important;
}
.teacher:hover img {
  border-color: white !important;
}
#teachersImg {
  max-width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1000px;
  border: 4px solid var(--primary);
}
