#oneTri,
#bigTei {
  opacity: 0;
  transition: all 0.1s;
}
#oneTri {
  fill: #08008c;
  transform: translateX(-15px);
  animation: actionBtnAnimation 2s ease-in-out 2.1s infinite forwards;
}
#bigTei {
  fill: #8c85ff;
  transform: translateX(-5px);
  animation: actionBtnAnimation 2s ease 0s infinite both;
}
@keyframes actionBtnAnimation {
  50% {
    transform: translateX(5px);
    opacity: 1;
  }
}
