#rocket {
  animation: rocket 5s ease infinite both;
  transform: translate(3%, 4%);
}
#stars {
  animation: stars 2s ease 0s infinite both;
}
@keyframes rocket {
  50% {
    transform: translate(-3%, -4%);
  }
}
@keyframes stars {
  50% {
    transform: translate(10px, 5px);
  }
}
